doctype html
html
	head
		meta(charset='utf-8')
		title #{title}
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='bootstrap.css')
	body
		main.container.pt-3
			div.card
				h1.card-header #{title}
				div.card-body
					form#activator
						div.form-group
							label(for='activation-number') Activation Number:
							input#activation-number.form-control.text-monospace(
								name='activation-number'
								type='text'
								placeholder="Activation Number"
							)
						div.form-group
							label(for='random-a') Random Integer A (Optional):
							input#random-a.form-control.text-monospace(
								name='random-a'
								type='number'
								min='0'
								step='1'
								placeholder="Random Integer A"
							)
						div.form-group
							label(for='random-b') Random Integer B (Optional):
							input#random-b.form-control.text-monospace(
								name='random-b'
								type='number'
								min='0'
								step='1'
								placeholder="Random Integer B"
							)
						div.form-group
							label(for='authorization-code') Authorization Code:
							input#authorization-code.form-control.text-monospace(
								name='authorization-code'
								type='text'
								placeholder="Authorization Code"
								readonly
							)
						button.btn.btn-primary(type='submit') Generate
				div.card-footer License: #{license}
		script(src='activator.js')
		script.
			(new activator.Gui(
				document.getElementById('activator'),
				'activation-number',
				'random-a',
				'random-b',
				'authorization-code'
			)).init();
